.write-your-todo {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  margin: 0.5rem;
}

.add-to-do {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
}

.to-do-input {
  border: 3px solid #000;
  border-radius: 5px;

}

.add-to-tasks {
  margin-left: 0.5rem;
  border-radius: 5px;
  background-color: aqua;
  font-weight: bold;
}

button:hover {
  background-color: pink;
}

.your-to-do {
  display: flex;
  justify-content: center;
}

.button-edit {
  margin-left: 0.5rem;
  border-radius: 5px;
  background-color: aqua;
  font-weight: bold;
}

.button-delete {
  margin-left: 0.5rem;
  border-radius: 5px;
  background-color: aqua;
  font-weight: bold;
}

.line-through {
  text-decoration: line-through;
}


.showdata {
  width: 25%;
}

.heading {
  font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: center;
}